#app {
  margin: 0px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.warning {
  display: none;
}

.container {
  max-width: 300px;
  min-width: 150px;
  height: 100vh;
  min-height: 320px;
  padding: 10px;
  text-align: center;
  background-image: url("../../assets/images/background.png");
  overflow-y: scroll;
}

.pot-wrapper {
  //common styles
  box-shadow: inset 0px 0px 20px #465ba7c7;
  .sum {
    font-family: MinionStd-Black;
    background: -webkit-linear-gradient(#E4E780, #cc9022);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .icon {
    font-style: normal;
  }
  //large pot
  &.large {
    padding-bottom: 25px;
    .prize {
      position: relative;
      margin-bottom: 15px;
      .sum {
        top: 7%;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        font-size: clamp(20px, 14vw, 45px);
      }
    }
    .drop {
      color: #ffffff;
      font-size: clamp(5px, 5vw, 12px);
    }
  }
  //small pot
  &.small {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 0;
    padding: 10px 5px;
    background-image: url("../../assets/images/stars.png");
    background-repeat: no-repeat;
    background-position: center;
    .img {
      max-width: 35%;
      margin-right: 25px;
    }
    .prize {
      text-align: left;
      .sum {
        font-size: clamp(10px, 7vw, 27px);
      }
      .drop {
        color: #ffffff;
        font-size: clamp(4px, 3vw, 11px);
      }
    }
  }
}
