$shadow-large: 0 16px 32px 0 rgba(0,168,225,0.20);

.profile-cards {
  display: flex;
  justify-content: flex-start;
  transition: all .3s ease;
  padding-left: 0px !important;
  &__item {
    margin-bottom: 55px;
    width: 25%;
    display: flex;
    justify-content: center;

    @media (max-width: 1660px) {
      width: 33%;
    }

    .card-checkbox-container {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      user-select: none;
      right: 15px;
      top: -10px;

      .cardSelector {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
      .card-checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 26px;
        width: 26px;
        background: #FFFFFF;
        border: 1px solid #00A8E1;
        box-shadow: 0 2px 4px 0 #1376AD;
        border-radius: 50%;
      }

      .card-checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }

      & .cardSelector:checked ~ .card-checkmark {
        border: 1px solid #10C030;
        box-shadow: 0 2px 4px 0;
      }

      & .cardSelector:checked ~ .card-checkmark:after {
        display: block;
      }

      & .card-checkmark:after {
        font-family: "staffing-tool-icons" !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        left: 4px;
        top: 6px;
        font-size: 14px;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        content: "\e900";
        color: #10c030;
      }
    }

    
    &-card {
      text-align: center;
      width: 300px;
      height: 202px;
      background-color: white;
      box-shadow: $shadow-large;
      border-radius: 10px;
      transition: all .3s ease;
      &:hover {
        cursor: pointer;
        transition: all .3s ease;
        transform: translateY(-20px) scale(1.05);
      }
      .app-title {
        border-radius: 10px 10px 0px 0px;
        text-align: left;
        position: relative;
        height: 25px;
        line-height: 25px;
        margin-bottom: 15px;
        p {
          color: white;
          font-family: 'Muli-Bold';
          padding: 4px;
          font-size: 12px;
          margin-bottom: 18px;
        }
        span {
          display: inline-block;
          color: white;
          font-family: 'Muli-Bold';
          font-size: 12px;
          &:first-of-type {
            position: absolute;
            left: 20px;
          }
          &:last-of-type{
            position: absolute;
            right: 20px;
          }
        }
      }
      .app-info {
        padding: 0 15px;
        margin-bottom: 25px;
        p {
          font-size: 24px;
          margin-bottom: 32px;
          color: $blue;
          font-family: 'Muli-Bold';
          &.days {
            padding: 0px;
            margin: 0px;
          }
          &.days-title {
            font-family: 'Muli-Regular';
            margin-bottom: 3.5px;
            color: #727888;
            font-size: 12px;
          }
        }
        .verticalLine {
          border-left: 1px solid #727888;
          opacity: 0.3;
          height: 50px;
          margin: 0 25px;
        }
      }
      &.frozen {
        background-color: rgba(#727888, 0.05);
        box-shadow: 0 5px 10px 0 rgba(#727888, 20%);
        .app-info {
          p {
            color: rgba(#727888, 0.5);
            &.days-title {
              color: #727888;
            }
          }
        }
      }
    }
  }
  &__item:empty {
    display: none;
  }
}
