.CustomModal {
  text-align: center;
  margin-top: 10%;
  .project-tag {
    width: 100px;
    height: 90px;
    right: 50px;
    top: -10px;
    position: absolute;
    text-align: center;
    box-shadow:  0 2px 5px 0 rgba(#1376AD, 0.2);
    p {
      padding-top: 35px;
      font-size: 16px;
      color: $black;
      font-family: 'Muli-Bold';
    }
  }
  // .project {
  //  text-align: center;
  //  margin-bottom: 10px;
  //   .project-title {
  //     font-size: 24px;
  //     color: $blue;
  //     font-family: 'Muli-Bold';
  //   }
  // }
  .project {
    z-index: 1;
    .profile {
      text-align: center;
      box-shadow:  0 2px 5px 0 rgba(#1376AD, 0.2);
      .title {
        background-color: $blue-alive;
        padding: 5px 0;
        margin-bottom: 20px;
        img {
          display: block;
          margin: 0 auto;
          border-radius: 50%;
          width: 55px;
          height: 55px;
          border: 3px solid #00a8e1;
        }
        span {
          color: $blue;
          font-family: 'Muli-Bold';
          font-size: 24px;
        }
        &.project-title {
          margin-bottom: 5px;
        }
      }
      .progress {
        text-align: center;
        margin-bottom: 10px;
        width: 100%;
      }
      .project-days {
        display: flex;
        justify-content: center;
        z-index: 1;
        .days {
          text-align: center;
          padding: 0 12.5px;
          p {
            font-size: 24px;
            color: $blue;
            font-family: 'Muli-Bold';
            &.days-title {
              font-family: 'Muli-Regular';
              margin-bottom: 10px;
              color: #0B2C53;
              font-size: 12px;
            }
            &.project-days {
              margin-bottom: 0;
            }
          }
        }
      }
      &.project-profile {
        margin-bottom: 20px;
      }
    }
  }
  //CALENDAR
  .v-picker {
    margin-bottom: 20px;
    box-shadow: none;
    border: 2px solid $blue-alive;
  }
  .v-picker__title__btn.v-date-picker-title__year {
    display: none;
  }
  .v-picker__title.primary {
    display: none;
    background-color: $blue-alive !important;
    border-color: $blue-alive !important;
    color: $blue-dark-text;
  }
  .v-date-picker-header__value button {
    pointer-events: none
  }
//   .v-date-picker-table__events {
//     height: 17px;
//     left: 0;
//     position: absolute;
//     text-align: center;
//     white-space: pre;
//     width: 100%;
// }
//   .v-date-picker-table__events > div {
//     border-radius: 50%;
//     position: absolute;
//     display: inline-block;
//     height: 24px;
//     left: 4px;
//     top: -4px;
//     margin: 0 1px;
//     width: 24px;
//     z-index: -1;
// }
//   .mycolor {
//     background-color: pink ;
//   }
  .v-date-picker-header {
    background-color: $blue-alive;
  }
  //NEW
  .table-wrapper {
    display: flex;
    justify-content: flex-end;
  }
  .table {
    border-collapse: separate;
    margin-top: -18px;
    border-spacing: 12px 18px;
    td {
      font-family: 'Muli-Bold';
      margin: 10px;
      border-bottom: none;
      font-size: 16px;
      color: #727888;
      width: 100px;
      background-color: none;
      border: 1px solid #727888;
      border-radius: 5px;
      padding: 9px 30px;
      &:hover {
        background-color: #ebf3ff;
        cursor: pointer;
      }
      &.activeMonth {
        font-family: 'Muli-Bold';
        color: $blue;
        width: 100px;
        background-color: none;
        border: 1px solid $blue;
        &:hover {
          background-color: #ebf3ff;
          cursor: pointer;
        }
      }
    }
    tbody tr:last-child td {
      border-bottom: 1px solid $blue-dark-text;
      &.activeMonth {
        border-bottom: 1px solid $blue;
      }
    }
  }
}