$white: #fff;
$black: #000;
$transparent: rgba($white, 0);
$yellow: #FBB806;
$orange: #E49032;
$blue: #00A8E1;
$blue-light: #e5f4fc;
$blue-dark-text: #0B2C53;
$blue-dark: #0D2749;
$blue-overlay: rgba(#528cba, .8);
$blue-alive: #E1F7FF;
$gray: #727888;
$button-shadow: 0 4px 8px 0 rgba(#0D2757, 0.2);

$gradient-bluelight-white: linear-gradient($blue-light, $white);
